@media screen and (max-width: 480px) {
  .test {
    font-size: 16px;
    background-color: 0; } }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

h1 {
  color: red;
  font-size: 32px; }
